.container {
    padding: 2rem;
    box-sizing: border-box;
  }
  
  .contentWrapper {
    display: flex;
    padding: 2rem 0;
    gap: 2rem;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .calendarWrapper {
    flex: 4 1 300px;
    min-width: 280px;
  }
  
  .todoWrapper {
    flex: 1 1 250px;
    min-width: 230px;
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 1rem;
    }
  
    .contentWrapper {
      flex-direction: column;
      padding: 1rem 0;
      gap: 1rem;
    }

  }
  